

ul {
  list-style-type: none;
}

li {
  padding: 0.2em;

}

li:hover {
  background-color: #585858;
  color: #efefef;
  font-size: 1.2em;
}

svg {
  pointer-events: none;
}

svg:hover {
  color: #00ff00;
}


#search {
  height: 35vw;
  width: 25%;
  float: left;
  margin-left: 20%;
}

#songListContainer {
  height: 100%;
  width: 100%;
  background-color: #cecece;
}

#songList {
  height: 100%;
  overflow: scroll;
}

a:visited {
  color: black;
}

.playIcon {
  padding-right: 0.3em;
  font-size: 1.3em;
}

.playIcon:hover {
  color: #00ff00;
}

#nowPlayingContainer {
  float: right;
  margin-right: 10%;
  width: 40%;
  text-align: center;
}



#albumArt {
  width: 30%;
  display: block;
  margin: auto;
}

.shuffle {
  font-size: 2em;
}

#shuffleBtn {
  color: #00ff00;
}

#unshuffleBtn{
  color: #707070;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
